---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import "../styles/about.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";

const identity = {
	firstName: "Hammahutz",
	country: "Sweden",
	occupationn: "Water/Sewer-Engineer",
	hobbies: ["programning", "gameing", "motorcycle"],
	skills: [
		"HTML",
		"CSS",
		"JavaScript",
		"React",
		"Astro",
		"C#",
		".NET",
		"ASP",
		"SQL",
	],
};

const happy: boolean = true;
const finished: boolean = false;
const goal: number = 3;
---

<BaseLayout pageTitle={pageTitle}>
	<h2>... and my new Astro site!</h2>
	<p>
		I am working though Astro's introductory tutorial. This is the second
		page on my website, ant it's the first one I built myselt!
	</p>
	<p>
		This site will update as I complete more of the tutorial, so keep
		checking back and see how my jorney is going!k
	</p>
	<p>
		Here is a few facts about me :D
		<ul>
			<li>My name is {identity.firstName}</li>
			<li>I live in {identity.country} and i work as a</li>
			<li>I work as a {identity.occupationn}</li>
			<li>
				My hobbies are:
				<ul>
					{
						identity.hobbies.map((hobbie) => (
							<li class="hobbies">{hobbie}</li>
						))
					}
				</ul>
			</li>
			<li>
				My skills are:
				<ul>
					{
						identity.skills.map((skill) => (
							<li class="skill">{skill}</li>
						))
					}
				</ul>
			</li>
		</ul>
	</p>
	{happy && <p>I am happy to be learning Astro!</p>}

	{finished && <p>I finished this tutorial!</p>}

	{
		goal === 3 ? (
			<p>My goal is to finish in 3 days.</p>
		) : (
			<p>My goal is not 3 days.</p>
		)
	}
</BaseLayout>
